<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>CHENGZI-HOME</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-d74+7+qlU7G1p1Au53yK+XHdgpOpfQ8ktqP9VQDuAZwhm4v2F2j6Lq8bR1woGTKa" crossorigin="anonymous"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v21.0"></script>
	<style>
		.nav > li > a:hover,
		.nav > li > a:focus {
			background-color: #f8f9fa;
			color: #000;
		}

		.dropdown-menu {
			transition: all 0.3s ease-in-out;
			transform: translateY(10px);
			opacity: 0;
			display: block;
			visibility: hidden;
		}

		.dropdown.open .dropdown-menu {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
		/* Căn chỉnh tổng thể */
		.search-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 20px auto;
			max-width: 600px;
			padding: 10px;
		}

		/* Input */
		.search-input {
			flex-grow: 1;
			border: 2px solid #ddd;
			border-right: none;
			border-radius: 30px 0 0 30px;
			padding: 10px 15px;
			font-size: 16px;
			transition: all 0.3s ease;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		/* Button */
		.btn-search {
			border: none;
			background-color: #f39c12;
			color: white;
			border-radius: 0 30px 30px 0;
			padding: 10px 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

			/* Icon trong button */
			.btn-search i {
				font-size: 25px;
			}

		/* Hiệu ứng hover */
		.search-input:focus {
			border-color: #007bff;
			box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
			outline: none;
		}

		.btn-search:hover {
			background-color: #e67e22;
		}


	</style>


</head>
<body>
	<header>
		<!--header-->
		<div class="header_top">
			<!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> 0377875295</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> truong.pn.64cntt@ntu.edu.vn</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li>
									<a href="https://www.facebook.com/tr.nguyen.543">
										<i class="fa fa-facebook"></i>
									</a></li>
								<li>
									<a href="https://www.instagram.com/nhatruong28124/">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo text-center text-sm-left">
							<a asp-action="Index" asp-controller="Home">
								<img src="~/anhfe/a-bookstore-logo-with-the-text-frc-store_JS0ryOxJT0WEnF-zJDr6Dw_N_4rOpaSRnmeoVpFk6EY6w.jpeg" alt="Logo" class="img-fluid" style="max-height: 100px;">
							</a>
						</div>
					</div>

					<div class="col-sm-8">
						<div class="shop-menu pull-right" style="padding-top: 25px; padding-bottom: 10px;">
							<ul class="nav navbar-nav">
								@if (User.Identity?.IsAuthenticated ?? false)
								{
									<li class="dropdown">
										<a style="cursor: pointer" class="fs-5 dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-shopping-cart"></i> Mua Sắm <span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li><a asp-action="Index" asp-controller="Cart" class="fs-5"><i class="fa fa-cart-arrow-down"></i> Đặt Hàng</a></li>
											<li><a asp-action="LichSuGioHang" asp-controller="Account" class="fs-5"><i class="fa fa-shopping-basket"></i> Sản Phẩm Chưa Được Thanh Toán</a></li>
											<li><a asp-action="ListYeuThich" asp-controller="Home" class="fs-5"><i class="fa fa-heart"></i> Yêu Thích</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a style="cursor: pointer" class="fs-5 dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-user"></i> Tài Khoản <span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li><a asp-action="LichSuMuaHang" asp-controller="Account"><i class="fa fa-history"></i> Lịch Sử Đơn Hàng</a></li>
											<li><a asp-action="CapNhatThongTinCaNhan" asp-controller="Account"><i class="fa fa-user-circle"></i> Thông Tin Tài Khoản</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a style="cursor: pointer" class="fs-5 dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-tachometer-alt"></i> Hoạt Động <span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li><a asp-action="DangXuat" asp-controller="Account" class="fs-5"><i class="fa fa-lock"></i> Đăng Xuất</a></li>
										</ul>
									</li>
									<li><a class="fs-5"><i class="fa fa-user"></i> Chào, @User.Identity.Name</a></li>
									@if (User.IsInRole("Admin") || User.IsInRole("NhanVien"))
									{
										<li><a asp-action="Index" asp-controller="Product" asp-area="Admin" class="fs-5"><i class="fa fa-cogs"></i> Quản Lý</a></li>
									}
								}
								else
								{
									<li><a asp-action="DangNhap" asp-controller="Account"><i class="fa fa-sign-in-alt"></i> Đăng Nhập</a></li>
								}
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div><!--/header-middle-->

		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-action="Index" asp-controller="Home" class="active">Home</a></li>
								
								
@* 								<li><a asp-action="ListSoSanh" asp-controller="Home"  class="fs-5"><i class="fa fa-star"></i> So Sánh</a></li>
 *@
								<li><a asp-action="LienHe" asp-controller="Home" >Liên Hệ</a></li>
							</ul>
						</div>
					</div>
					<form asp-controller="Product" asp-action="TimKiem" method="post" class="search-container">
						<input type="text"
							   class="search-input"
							   placeholder="Tìm kiếm sản phẩm..."
							   name="searchkey"
							   value="@ViewBag.Keyword" />
						<button class="btn-search" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>




				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
							

	<section>
		<div class="container">
			<div class="row">
        <div class="col-md-12">
            @Html.Partial("NotificationPartial")
			 @RenderBody()
        </div>
        
    </div>
		</div>
	</section>

	<footer id="footer">
		@Html.Partial("FooterPartial")

		

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">PHẠM NHẬT TRƯỜNG-64132785</p>
					<p class="pull-right">THIẾT KẾ BỞI NHẬT TRƯỜNG CUTE</p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->


	
	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
	<script>
		$(function () {
			var message = '@TempData["success"]';
			if (message != '')
				Swal.fire(message);
		});

		

	</script>

	@await RenderSectionAsync("Scripts", required: false);

</body>
</html>




