@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Danh Sách Quyền";
}

<h2>@ViewData["Title"]</h2>



@if (TempData["Warning"] != null)
{
    <div class="alert alert-warning">@TempData["Warning"]</div>
}


<table class="table">
    <thead>
        <tr>
            <th>Tên Quyền</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "UserRole", new { id = role.Id })" class="btn btn-info"> <i class="fas fa-edit"></i>Chỉnh sửa</a>
                </td>
            </tr>
        }
    </tbody>
    <a href="@Url.Action("Create", "UserRole")" class="btn btn-primary" style="margin-left: 15px; margin-bottom :15px; border-radius: 20px;">Tạo Quyền Mới</a>

</table>















<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
