@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Danh Sách Quyền";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Warning"] != null)
{
    <div class="alert alert-warning">@TempData["Warning"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>Tên Quyền</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "UserRole", new { id = role.Id })" class="btn btn-warning"> <i class="fas fa-edit"></i>Chỉnh sửa</a>
                    <a href="@Url.Action("Delete", "UserRole", new { id = role.Id })" class="btn btn-danger"><i class="fas fa-trash"></i>>Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "UserRole")" class="btn btn-primary">Tạo Quyền Mới</a>
